<app-title title="Create Event" margin="1.5rem 0 0 2.5rem"></app-title>

<div class="container">        
    <form [formGroup]="eventForm" (ngSubmit)="createEvent()">
        <h2>General Information</h2>  
        <text-input 
                [control]="efc.name"
                [showErrorsWhen]="isSubmitted"
                label="Event Name">
        </text-input> 

        <text-input 
                [control]="efc.location"
                [showErrorsWhen]="isSubmitted"
                label="City">
        </text-input>
        
        <text-input 
                [control]="efc.venue"
                [showErrorsWhen]="isSubmitted"
                label="Venue">
        </text-input>

        <text-input 
                [control]="efc.date"
                [showErrorsWhen]="isSubmitted"
                label="Date & Time">
        </text-input>

        <text-input 
                [control]="efc.categories"
                [showErrorsWhen]="isSubmitted"
                label="Categories">
        </text-input>

        <text-input 
                [control]="efc.description"
                [showErrorsWhen]="isSubmitted"
                label="Event Description">
        </text-input>

        <text-input 
                [control]="efc.imageUrl"
                [showErrorsWhen]="isSubmitted"
                label="Upload a cover image for your event">
        </text-input>
      
        <div formArrayName="tickets">  
            <h2>Ticket Information</h2>         
            <div *ngFor="let ticket of tickets().controls; let i=index" [formGroupName]="i">  
                <text-input 
                    [control]="tfc(i).class"
                    [showErrorsWhen]="isSubmitted"
                    label="Ticket Class">
                </text-input>

                <text-input 
                    [control]="tfc(i).quantity"
                    [showErrorsWhen]="isSubmitted"
                    label="Ticket Quantity">
                </text-input>

                <text-input 
                    [control]="tfc(i).price"
                    [showErrorsWhen]="isSubmitted"
                    label="Ticket Price">
                </text-input>

                <text-input 
                    [control]="tfc(i).description"
                    [showErrorsWhen]="isSubmitted"
                    label="Ticket Description">
                </text-input>

                <button *ngIf="ticketNum>1" (click)="removeTicket(i)">Remove</button>    
            </div>  
            <button type="button" (click)="addTicket()">Add Another Ticket Class</button>
        </div>  

        <button type="button" (click)="preview()">Preview Your Event</button>

        
        <div *ngIf="isSubmitted" class="preview">
            <h2>Preview Your Event</h2>
            <img [src]="event.imageUrl" [alt]="event.name"/>
            
            <div class="details">
                <div class="header">
                    <span class="name">{{event.name}}</span>
                    <!-- <span class="favorite {{event.favorite? '': 'not'}}">♥</span> -->
                </div>
        
                <div class="categories">{{event.categories}}</div>
        
                <div class="organizer">
                    <span>Organizer: <strong>{{event.organizer.name}}</strong></span>
                </div>
        
                <div class="venue">
                  <span>Venue: <strong>{{event.venue}}</strong></span>
                </div>
        
                <div class="date">
                    <span>Date: <strong>{{event.date | date:'fullDate'}}</strong></span>
                </div>
        
                <div class="description">
                  <span><strong>Description: </strong>{{event.description}}</span>
                </div>
        
                <div class="ticket">
                  <strong>Tickets Information: </strong>
        
                  <ul>
                    <li *ngFor="let ticket of event.tickets">
                        <div>
                            <a>{{ticket.class}}</a>
                        </div>
            
                        <div>
                            <span>Price: </span>{{ticket.price | currency}}
                        </div>
            
                        <div>
                            {{ticket.description}}
                        </div>
                    </li>
                  </ul>
                </div>
                
                <button type="button" disabled>Buy Ticket</button>
            </div>
        </div>
       
        <default-button text="Submit"></default-button>  
        
    </form> 
  </div>