<nav class="sidebar">
    <ul class="menu">
        <li class="nav-link">
            <a href="{{router1}}">
                <span class="text nav-text">{{menu1}}</span>
                <span><i class="fa-solid fa-angle-right"></i></span>
            </a>
        </li>

        <li class="nav-link">
            <a href="{{router2}}">
                <span class="text nav-text">{{menu2}}</span>
                <span><i class="fa-solid fa-angle-right"></i></span>
            </a>
        </li>

        <li class="nav-link" *ngIf="menu3">
            <a href="{{router3}}">
                <span class="text nav-text">{{menu3}}</span>
                <span><i class="fa-solid fa-angle-right"></i></span>
            </a>
        </li>
    </ul>
</nav>