<app-not-found 
    [visible]="!organizer"
    notFoundMessage="Page Not Found"
    resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="organizer" class="container">
    <side-nav menu1="Organizer Profile" router1="/organizer/profile" 
            menu2="My Events" router2=""
            menu3="Statistic" router3=""></side-nav>

    <div class="content">
        <app-title title="Organizer Profile" fontSize="1.6rem"></app-title>
        
        <div class="details">
            <div class="name">
                <span><strong>Organizer Name: </strong>{{organizer.name}}</span>
            </div>

            <div class="email">
                <span><strong>Email: </strong>{{organizer.email}}</span>
            </div>

            <div class="phone">
                <span><strong>Phone Number: </strong>{{organizer.phone}}</span>
            </div>

            <div class="city">
                <span><strong>City: </strong>{{organizer.city}}</span>
            </div>

            <div class="district">
                <span><strong>District: </strong>{{organizer.district}}</span>
            </div>

            <div class="ward">
                <span><strong>Ward: </strong>{{organizer.ward}}</span>
            </div>

            <div class="address">
                <span><strong>Address: </strong>{{organizer.address}}</span>
            </div>
            <default-button text="Edit Organizer Profile" onClick=""></default-button>
        </div>
    </div>
</div>