<app-not-found 
    [visible]="!user"
    notFoundMessage="Page Not Found"
    resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="user" class="container">
    <side-nav menu1="My Profile" router1="/profile" 
            menu2="My Tickets" router2="/my-tickets"></side-nav>

    <div class="content">
        <app-title title="My Profile" fontSize="1.6rem"></app-title>

        <div class="details">
            <div class="avatar">
                <!--<img [src]="user.imageUrl" [alt]="user.name"/>-->  
                <img src="../../../../assets/avatar.png" [alt]="user.name"/>
            </div>
    
            <div class="info">          
                <div class="name">
                    <span><strong>Name: </strong>{{user.name}}</span>
                </div>
    
                <div class="email">
                    <span><strong>Email: </strong>{{user.email}}</span>
                </div>
     
                <div class="dob">
                    <span><strong>Date of Birth: </strong>{{user.dob | date}}</span>
                </div>
    
                <div class="phone">
                    <span><strong>Phone Number: </strong>{{user.phone}}</span>
                </div>

                <div class="buttons">
                    <default-button class="editProfile" text="Edit Your Profile" onClick=""></default-button>
                    <default-button class="changePass" text="Change Your Password" onClick=""></default-button>
                </div>
            </div>
        </div>
    </div>
</div>