<app-not-found 
    [visible]="!event"
    notFoundMessage="Page Not Found"
    resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="event" class="container">
    <img [src]="event.imageUrl" [alt]="event.name"/>
    
    <div class="details">
        <div class="header">
            <span class="name">{{event.name}}</span>
            <span class="favorite {{event.favorite? '': 'not'}}">♥</span>
        </div>

        <div class="categories">
          <a *ngFor="let category of event.categories" routerLink="/category/{{category}}">
            {{category}}
          </a>
        </div>

        <div class="organizer">
            <span>Organizer: <strong>{{event.organizer.name}}</strong></span>
        </div>

        <div class="venue">
          <span>Venue: <strong>{{event.venue}}</strong></span>
        </div>

        <div class="date">
            <span>Date: <strong>{{event.date | date:'fullDate'}}</strong></span>
        </div>

        <div class="description">
          <span><strong>Description: </strong>{{event.description}}</span>
        </div>

        <div class="ticket">
          <strong>Tickets Information: </strong>

          <ul>
            <li *ngFor="let ticket of event.tickets">
                <div>
                    <a>{{ticket.class}}</a>
                </div>
    
                <div>
                    <span>Price: </span>{{ticket.price | currency}}
                </div>
    
                <div>
                    {{ticket.description}}
                </div>
            </li>
          </ul>
        </div>
        
        <button (click)="buyTicket()">Buy Ticket</button>
    </div>
</div>