<header>
    <div class="container">
        <a routerLink="/" class="logo">TicketHub</a>
        <nav>
            <ul>
                <li>
                    <a>Create Event</a>
                </li>
                <li>
                    <a routerLink="/my-tickets">My Tickets</a>
                </li>
                <li class="menu-container">
                    <a routerLink="/dashboard">Traciee</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/organizer">Organizer Profile</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/notifications">
                        Notifications <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>