<header>
    <div class="container">
        <a routerLink="/" class="logo">
            <img src="../../../../assets/icon/logoText.png">
        </a>
        <app-search></app-search>
        <ul>
            <li>
                <button *ngIf="!isOrganizer" routerLink="/organizer/register">Create Event</button>
            </li>
            <li>
                <button *ngIf="isOrganizer" (click)="createEvent()">Create Event</button>
            </li>
            <li *ngIf="!isAuth">
                <a routerLink="/login">Login | Register</a>
            </li>
            <li *ngIf="isAuth" class="menu-container">
                <a class="user"><span><img src="{{user.avatarUrl}}"></span>{{user.name}}</a>
                <div class="menu">
                    <a routerLink="/profile/{{user.id}}">My Profile</a>
                    <a >My Tickets</a>
                    <a *ngIf="isOrganizer" routerLink="/organizer">My Organizer Profile</a>
                    <a (click)="logOut()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</header>