header{
    position: sticky;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100000;
    box-shadow: 0px 1px 5px grey;
}

app-search{
    display: flex;
    align-items: center;
}

a{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding-right: 1rem;
}

a:hover{
    color: black;
    cursor: pointer;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    display: flex;
    list-style-type: none;
    margin: 0 0.5rem;
    padding-left: 0;
    align-items: center;
}

button{
    padding: 0.8rem 1rem;
    margin: 0 1rem;
    display: inline-block;
    border-radius: 30px;
    border: none;
    background: #52cca7;
    color: white;
    font-size: large;
}

button:hover{
    background: #02b07b;
    cursor: pointer;
}

a img{ /*logo*/
    margin: 0 1.5rem;
    width: 9rem;
}

a span img{ /*user avatar*/
    margin: 0 1rem;
    width: 2rem;
    float: left;
}

.menu{
    position: absolute;
    z-index: 1;
    background: white;
    display: none;
    border-radius: 5px;
}

.menu-container:hover .menu{
    display: block;
    box-shadow: 0px 1px 3px black;
    right: 1rem;
}

.menu a{
    width: 100%;
    min-width: 12rem;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    font-size: large;
}

.menu a:hover{
    background: #5e00e5;
    color: white;
    border-radius: 5px;
}

.menu a span {
    margin-right: 1rem;
}

@media (max-width: 1000px){ 
    app-search {
        visibility: hidden;
    }
}