<header>
    <div class="container">
        <a routerLink="/" class="logo">TicketHub</a>
        <nav>
            <ul>
                <li>
                    <a>Create Event</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login | Register</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Personal Profile</a>
                        <a routerLink="/my-tickets">My Tickets</a>
                        <a routerLink="/organizer">Organizer Profile</a>
                        <a (click)="logOut()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/notifications">
                        Notifications <span>3</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>