<div class="container">
    <div class="details">
        <app-title title="Login"></app-title>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <text-input [control]="fc.email" 
                [showErrorsWhen]="isSubmitted" 
                type="email" 
                label="Email">
            </text-input>

            <text-input [control]="fc.password" 
                [showErrorsWhen]="isSubmitted" 
                type="password" 
                label="Password">
            </text-input>
            
            <default-button text="Login" onClick="login()"></default-button>

            <p>or</p>

            <button class="googleLogin" (click)="loginWithGoogle()">
                <span><i class="fa-brands fa-google"></i></span>
                <span>Login With Google</span>
            </button>

            <div class="register">
                New user? &nbsp;
                <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">
                    Register here
                </a>
            </div>
        </form>
    </div>
</div>