<app-not-found 
    [visible]="!user"
    notFoundMessage="Page Not Found"
    resetLinkText="Back To Homepage">
</app-not-found>
<div *ngIf="user" class="container">
    <side-nav menu1="My Profile" router1="/profile" 
            menu2="My Tickets" router2="/my-tickets"></side-nav>

    <div class="content">
        <app-title title="My Tickets" fontSize="1.6rem"></app-title>
        
        <app-not-found 
            [visible]="orders.length<=0"
            notFoundMessage="You haven't bought any tickets from TicketHub. Start booking now!"
            resetLinkText="Back To Homepage">
        </app-not-found>

        <div *ngIf="orders.length>0" class="details">
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Event ID</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                <tr *ngFor="let order of orders" routerLink="/order/{{order.id}}">
                    <td>{{order.id}}</td>
                    <td>{{order.createdAt | date:'medium'}}</td>
                    <td>{{order.event.id}}</td>
                    <td>{{order.totalPrice | currency}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>