.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'menu content';
}

side-nav{
    grid-area: menu;
}

.content {
    grid-area: content;
    padding: 2rem;
}