div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}

p {
    margin: 0.5rem;
}

span {
    color: #5e00e5;
}

span:hover {
    cursor: pointer;
    background-color: #5e00e5;
    color: white;
    border-radius: 1rem;
    opacity: 0.8;
    padding: 0.5rem;
}