<app-title title="Select Tickets" margin="1.5rem 0 0 2.5rem"></app-title>
<app-not-found 
    [visible]="!cart || !cart.items.length"
    notFoundMessage="Page Not Found"
    resetLinkText="Go To Homepage">
</app-not-found>
<div *ngIf="cart && cart.items.length">
    <div class="event-details">
        <div class="name">
            <span>Event Name: <strong>{{event.name}}</strong></span>
        </div>

        <div class="organizer">
            <span>Organizer: <strong>{{event.organizer.name}}</strong></span>
        </div>

        <div class="location">
          <span>Location: <strong>{{event.location}}</strong></span>
        </div>

        <div class="date">
            <span>Date: <strong>{{event.date}}</strong></span>
        </div>
    </div>
    <div class="container">
        <ul>
            <li *ngFor="let cartItem of cart.items">
                <div>
                    <a>{{cartItem.ticket.class}}</a>
                </div>
    
                <div>
                    <span>Price: </span>{{cartItem.ticket.price | currency}}
                </div>
    
                <div>
                    {{cartItem.ticket.description}}
                </div>
                <span>
                    <button class="minus" (click)="decrementQuantity(cartItem)">-</button>
                    <span>{{cartItem.quantity}}</span>
                    <button class="plus" (click)="incrementQuantity(cartItem)">+</button>
                </span>
            </li>
        </ul>
        
        <div class="booking-info">
            <div>
                <div class="total-price">{{cart.totalPrice|currency}}</div>
            </div>

            <div *ngIf="cart.totalPrice > 0">
                <button class="continue" (click)="checkout()">Continue</button>
            </div>
        </div>
    </div>
</div> 