<div class="container">
    <div class="content">
        <app-title title="Order Confirmation" fontSize="1.6rem"></app-title>
        <div>
            <h3>Buyer's Information</h3>
            <form [formGroup]="checkoutForm">
                <text-input [control]="fc.name" label="Full Name"></text-input>
                <text-input [control]="fc.phone" label="Phone Number"></text-input>
                <text-input [control]="fc.email" label="Email"></text-input>
            </form>
        </div>
        
        <div>
            <h3>Order Summary</h3>
            <order-items-list [order]="order"></order-items-list>
        </div>

        <div>
            <h3>Select Payment Method</h3>
            <input type="radio" name="payment_method" value="PayPal">
            <paypal-button [order]="order" for="paypal">PayPal</paypal-button><br>
            <input type="radio" name="payment_method" value="MoMo">
            <label for="momo">MoMo</label><br>
        </div>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <button (click)="createOrder()">Go To Payment</button>
        </div>
    </div>
</div>