<div class="container">
    <div class="content">
        <app-title title="Order Confirmation" fontSize="1.6rem"></app-title>
        <form [formGroup]="checkoutForm">
            <h3>Buyer's Information</h3>
            <text-input [control]="fc.name" label="Full Name"></text-input>
            <text-input [control]="fc.phone" label="Phone Number"></text-input>
            <text-input [control]="fc.email" label="Email"></text-input>
        </form>
        
        <div>
            <h3>Order Summary</h3>
            <order-items-list [order]="order"></order-items-list>
        </div>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <paypal-button [order]="order" (click)="createOrder()"></paypal-button>
        </div>
    </div>
</div>