<div class="container">
    <div class="content">
        <app-title title="Order Confirmation" fontSize="1.6rem"></app-title>

        <div class="event-details">
            <div class="name">
                <span>Event Name: <strong>{{event.name}}</strong></span>
            </div>
    
            <div class="organizer">
                <span>Organizer: <strong>{{event.organizer.name}}</strong></span>
            </div>
    
            <div class="location">
              <span>Location: <strong>{{event.location}}</strong></span>
            </div>
    
            <div class="date">
                <span>Date: <strong>{{event.date}}</strong></span>
            </div>
        </div>

        <form [formGroup]="checkoutForm">
            <h3>Buyer's Information</h3>
            <text-input [control]="fc.name" label="Full Name"></text-input>
            <text-input [control]="fc.phone" label="Phone Number"></text-input>
            <text-input [control]="fc.email" label="Email"></text-input>
        </form>
        
        <div>
            <h3>Order Summary</h3>
            <order-items-list [order]="order"></order-items-list>
        </div>
    </div>

    <div class="buttons-container">
        <div class="buttons">
            <button (click)="createOrder()" *ngIf="!isOrderReady">Go To Payment</button>
            <paypal-button [order]="order" *ngIf="isOrderReady"></paypal-button>
        </div>
    </div>
</div>